* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
  background-color: $bg-color__body;
}

a {
  color: $font-color__primary;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h4 {
  @include reset;
}

.back {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  margin: 0 auto;
  min-width: 320px;
}

@include media(">tablet_large", "<desktop_small") {
  .container {
    max-width: 900px;
  }
}

@include media(">desktop_small", "<desktop_medium") {
  .container {
    max-width: 1200px;
  }
}

@include media(">desktop_medium") {
  .container {
    max-width: 1600px;
  }
}
/*
@include media(">desktop_large") {
  .container {
    max-width: 2500px;
  }
}
*/
