@mixin reset {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

@mixin font ($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin flex($direction, $justify, $align, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin transition($duration, $function, $delay) {
  transition-duration: $duration;
  transition-timing-function: $function;
  transition-delay: $delay;
}

@mixin grid-container($columns, $rows, $col_width, $row_height, $col_gap, $row_gap) {
  display: grid;
  grid-template-columns: repeat($columns, $col_width);
  grid-template-rows: repeat($rows, $row_height);
  grid-column-gap: $col_gap;
  grid-row-gap: $row_gap;
}

@mixin grid-element($col_start, $col_end, $row_start, $row_end) {
  grid-column-start: $col_start;
  grid-column-end: $col_end;
  grid-row-start: $row_start;
  grid-row-end: $row_end;
}

@mixin link($padding, $height, $transform, $underline, $text_color, $hover_color) {
  display: block;
  position: relative;
  padding: 0 $padding;
  line-height: $height;
  color: $text_color;
  text-transform: $transform;
  cursor: pointer;
  @include transition(0.3s, ease, 0);
  &::before {
    content: '';
    position: absolute;
    display: block;
    height: $underline;
    bottom: 0;
    left: $padding;
    right: $padding;
    background-color: transparent;
    @include transition(0.3s, ease, 0);
  }
  &:hover,
  &:focus {
    color: $hover_color;
    &::before {
      background-color: $hover_color;
    }
  }
  &:active {
    opacity: 0.8;
    &::before {
      opacity: 0.8;
    }
  }
}

@mixin btn_reset {
  border: none;
  background: none;
  border-radius: 0;
  outline: none;
  font-family: inherit;
}

@mixin select($padding-l, $padding-r, $height, $width, $text_color, $border) {
  display: block;
  padding: 0 $padding-r 0 $padding-l;
  width: $width;
  height: $height;
  border: none;
  border-radius: 0;
  color: $text_color;
  text-transform: uppercase;
  background-color: transparent;
  border-bottom: $border;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none !important;
  background-image: url("../img/ic_expand_more_black_24px.svg");
  background-repeat: no-repeat;
  background-position: right center;
  outline: none;
  &::-ms-expand {
    display: none;
  }
}

@mixin slider-button($outer_size, $inner_size, $color) {
  @include btn_reset;
  @include transition(0.3s, ease, 0);
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: $outer_size;
  height: $outer_size;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    border: 2px solid $color;
  }
  &:active {
    border: 2px solid $color;
    opacity: 0.75;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: $inner_size;
    height: $inner_size;
    border-bottom: 3px solid $color;
    border-right: 3px solid $color;
  }
  &_left::before {
    transform: translateX(-35%) translateY(-50%) rotate(135deg);
  }
  &_right::before {
    transform: translateX(-65%) translateY(-50%) rotate(-45deg);
  }
}

@mixin action-button($tx_color, $hover_tx_color, $active_tx_color, $bg_color, $hover_bg_color, $active_bg_color, $x-padding, $height) {
  outline: none;
  display: block;
  color: $tx_color;
  padding: 0 $x-padding;
  line-height: $height;
  background-color: $bg_color;
  &:hover,
  &:focus {
    color: $hover_tx_color;
    background-color: $hover_bg_color;
  }
  &:active {
    color: $active_tx_color;
    background-color: $active_bg_color;
  }
}

@mixin control-button($outer_size, $inner_size, $border-color, $inner-color, $width) {
  @include btn_reset;
  @include transition(0.3s, ease, 0);
  display: block;
  box-sizing: border-box;
  width: $outer_size;
  height: $outer_size;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    border: $width solid $border-color;
    background-color: $bg-color-light-gray__transparent;
    &::before {
      border-color: #ffffff;
    }
  }
  &:active {
    border: 2px solid $border-color;
    opacity: 0.75;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: $inner_size;
    height: $inner_size;
    border-bottom: $width solid $inner-color;
    border-right: $width solid $inner-color;
    transform: translateX(-35%) translateY(-50%) rotate(135deg);
  }
}
