@mixin flex  {
  display: flex;
  flex-direction: row;
}
@mixin link-hover_underline {
  &__link {
    display: block;
    position: relative;
    padding: 0 10px;
    line-height: 45px;
    font-weight: 500;
    transition-duration: 0.3s;
    &::before {
      content: '';
      position: absolute;
      display: block;
      height: 2px;
      bottom: 0;
      left: 10px;
      right: 10px;
      transition-duration: 0.3s;
      background-color: transparent;
    }
    &:hover {
      color: antiquewhite;
      &::before {
        background-color: $font-color-main;
      }
    }
  }
}

@mixin link-hover_color {
  &__link {
    display: block;
    line-height: 30px;
    font-weight: 500;
    transition-duration: 0.3s;
    &:hover,
    &:focus {
      color: antiquewhite;
    }
    &:active {
      color: #039be5;
    }
  }
}
