/* bg colors */
$bg-color-gray__transparent: rgba(33, 33, 33, 0.65);
$bg-color-light-gray__transparent: rgba(66, 66, 66, 0.45);

/* font colors */
$font-color-main: #ffffff;
$font-color-light: #212121;
$font-color-dark: #000000;
