/* bg colors */
$bg-color-gray__transparent: rgba(33, 33, 33, 0.85);
$bg-color-light-gray__transparent: rgba(66, 66, 66, 0.65);
$bg-color-body: rgb(245, 247, 249);

/* font colors */
$font-color-main: #ffffff;
$font-color-light: #212121;
$font-color-dark: #000000;

/* media query */
$mobile-s-portrait: 420px;
