@media (max-width: 460px) {
  .btn-options {
    box-sizing: content-box;
    padding: 5px;
    height: 36px;
    width: 36px;
    border: none;
    background-color: transparent;
    background-image: url("../img/ic_more_vert_white_36px.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
@media (min-width: 460px) {
  .btn-options {
    display: none;
  }
}
