@media (max-width: 460px) {

}

@media (min-width: 1200px) {
  .contacts-info {
    width: 100%;
    @include flex(row, stretch, center, wrap);
    &__block {
      align-self: flex-start;
      margin: 0 100px;
    }
    &__info {
      @include flex(column, space-around, flex-start, nowrap);
      height: 100px;
      color: $bg-color-gray__transparent;
      & > a {
        color: inherit;
      }
    }
    &__social {
      @include flex(row, flex-start, center, nowrap);
      &-link {
        @include font(16px, 700);
        color: $bg-color-gray__transparent;
        text-transform: uppercase;
      }
    }
    &__form {
      @include flex(column, flex-start, flex-start, nowrap);
      color: $bg-color-gray__transparent;
      &-mail {
        display: block;
        width: 400px;
      }
      &-text {
        display: block;
        width: 400px;
        height: 200px;
        resize: none;
      }
    }
    &__map {
      width: 40%;
    }
  }
}
