@media (max-width: 460px) {

}

@media (min-width: 460px) {
  .contacts-info {
    width: 100%;
    background-color: $bg-color-gray__transparent;
    @include flex(row, stretch, center, wrap);
    &__block {
      align-self: flex-start;
      margin: 0 100px;
    }
    &__info {
      @include flex(column, space-around, flex-start, nowrap);
      height: 100px;
    }
    &__social {
      @include flex(row, flex-start, center, nowrap);
      &-link {
        @include font(16px, 700);
        text-transform: uppercase;
      }
    }
    &__form {
      @include flex(column, flex-start, flex-start, nowrap);
      color: white;
      &-mail {
        display: block;
        width: 600px;
      }
      &-text {
        display: block;
        width: 600px;
        height: 300px;
        resize: none;
      }
    }
    &__map {
      width: 50%;
    }
  }
}
