@media (max-width: 460px) {
  .footer-category {
    padding: 10px;
    &__title {
      @include font(13px, 700);
    }
    &__link {
      @include font(12px, 400);
      & > img {
        width: 36px;
        height: auto;
      }
    }
    &__list {
      @include flex(column, space-around, flex-start, no-wrap);
      &_social {
        margin: 0 auto;
        width: 70%;
        @include flex(row, space-around, center, no-wrap);
      }
    }
  }
}

@media (min-width: 460px) {

}
