@media (max-width: 460px) {
  .gallery-window {
    width: 100%;
    position: relative;
    &__images {
      width: 90%;
      overflow: hidden;
    }
    &__image {
      width: 100%;
      height: auto;
    }
  }
  .gallery-item {
    &__title {
      position: absolute;
      top: 0;
    }
    &__text {
      position: absolute;
      top: 50px;
    }
    &__images {
      width: 90%;
      overflow: hidden;
    }
    &__image {
      width: 100%;
      height: auto;
    }
    &__button {
      position: absolute;
      bottom: 20%;
      right: 10%;
    }
  }
}
