@media (max-width: 460px) {
  .page-header {
    position: fixed;
    width: 100%;
    height: $header-height;
    top: 0;
    @include flex(row, flex-start, center, nowrap);
    @include mdc-elevation(4);
    z-index: 10;
    background-color: $bg-color-gray__transparent;
    background-image: linear-gradient($bg-color-gray__transparent, $bg-color-light-gray__transparent);
    &__logo {
      margin: 2px auto 0 0;
      & > img {
        width: 175px;
      }
    }
  }

  .header-navigation {
    margin: 0 auto;
    padding: 0 2.5%;
    width: 100%;
    @include flex(row, flex-start, center, nowrap);
  }
}

@media (min-width: 460px) {
  .page-header {
    position: fixed;
    width: 100%;
    top: 0;
    height: $header-height;
    @include mdc-elevation(4);
    z-index: 10;
    background-color: $bg-color-gray__transparent;
    background-image: linear-gradient($bg-color-gray__transparent, $bg-color-light-gray__transparent);
    &__logo {
      & > img {
        display: block;
        width: 275px;
        margin-top: 23px;
        filter: drop-shadow(2px 2px 6px rgba(44, 44, 44, 0.45));
      }
    }
  }

  .header-navigation {
    margin: 0 auto;
    height: $header-height;
    min-width: 1200px;
    max-width: 1600px;
    @include flex(row, flex-start, center, nowrap);
  }
}
