@media (max-width: 460px) {
  .page-header {
    position: fixed;
    width: 100%;
    top: 0;
    @include mdc-elevation(4);
    z-index: 10;
    background-color: $bg-color-gray__transparent;
    background-image: linear-gradient($bg-color-gray__transparent, $bg-color-light-gray__transparent);
    &__logo {
      margin: 0 auto;
      & > img {
        width: 130px;
      }
    }
  }

  .header-navigation {
    margin: 0 auto;
    padding: 0 2.5%;
    width: 100%;
    @include flex;
    align-items: center;
  }
}

@media (min-width: 460px) {
  .page-header {
    position: fixed;
    width: 100%;
    top: 0;
    @include mdc-elevation(4);
    z-index: 10;
    background-color: $bg-color-gray__transparent;
    background-image: linear-gradient($bg-color-gray__transparent, $bg-color-light-gray__transparent);

    &__logo {
      & > img {
        position: absolute;
        width: 250px;
        top: 5px;
        filter: drop-shadow(2px 4px 6px rgba(44, 44, 44, 0.55));
      }
    }
  }

  .header-navigation {
    margin: 0 auto;
    width: 90%;
    @include flex;
    align-items: center;
  }
}
