@media (max-width: 460px) {
  .help-block {
    position: relative;
    width: 100%;
    @include flex(column, flex-start, center, no-wrap);
    &_hidden {
      height: 0;
      overflow: hidden;
    }
    &__questions {
      background-color: $bg-color-gray__transparent;
      width: 100%;
      @include flex(column, space-between, flex-start, nowrap);
    }
    &__q-button {
      width: 100%;
      text-align: left;
      @include btn_reset;
      @include link(20px, 50px, none, 2px, #ffffff, #cccccc);
      @include font(14px, 700);
    }
    &__answer {
      padding-top: 15px;
      background-color: $bg-color-gray__transparent;
      color: #ffffff;
      transition-duration: 0.3s;
      &_hidden {
        height: 0;
        overflow: hidden;
      }
    }
    &__text {
      @include reset;
    }
  }
}

@media (min-width: 460px) {
  .help-block {
    position: relative;
    width: 100%;
    height: 300px;
    @include flex(row, flex-start, center, no-wrap);
    transition-duration: 0.3s;
    &_hidden {
      height: 0;
      overflow: hidden;
    }
    &__questions {
      width: 10%;
      height: 300px;
      @include flex(column, flex-start, flex-start, nowrap);
      flex-grow: 1;
      transition-duration: 0.3s;
      &_active {
        background-color: $bg-color-gray__transparent;
      }
    }
    &__q-button {
      margin-top: 15px;
      text-align: left;
      @include btn_reset;
      @include link(20px, 40px, none, 2px, #ffffff, #cccccc);
      @include font(14px, 700);
    }
    &__answer {
      height: 300px;
      background-color: $bg-color-gray__transparent;
      color: #ffffff;
      transition-duration: 0.3s;
      &_hidden {
        height: 0;
        overflow: hidden;
      }
    }
    &__text {
      height: 300px;
      @include reset;
    }
    &__answers {
      width: 90%;
      height: 300px;
      @include flex(column, flex-start, center, nowrap);
    }
  }
}
