//@media (max-width: 459px) {

  .shop {
    @include flex;
  }

  .category-card-list {
    flex-direction: column;
    width: 100%;
    background-color: $bg-color-light-gray__transparent;
    @include link-hover;
    &__card {
      padding-right: 10px;
      &:not(:last-child) {
        border-right: 1px solid white;
      }
    }
    &__container {
      @include flex;
    }
    &__image {
      outline: 1px solid white;
      width: 100px;
      height: 100px;
    }
  }
  .menu-contents__section_camo {
    display: none;
  }
  .section-show {
    display: block;
  }
//}

@media (min-width: 460px) {
  .shop {
  }

  .category-card-list {
    width: 100%;
    left: 0;
    position: fixed;
    display: none;
    flex-direction: row;
    margin: 0 auto;
    background-color: $bg-color-light-gray__transparent;
    @include link-hover;
    transition-duration: 0.3s;
    &__card {
      margin: 0 50px 10px 10px;
      padding-right: 20px;
      &:not(:last-child) {
        border-right: 1px solid white;
      }
    }
    &__container {
      @include flex;
    }
    &__image {
      outline: 1px solid white;
    }
  }
}
