@media (max-width: 459px) {

  .menu-contents {
    margin: 0;
    overflow: scroll;
  }

  .category-card-list {
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    background-color: $bg-color-gray__transparent;
    @include link-hover_color;
    &__card {
      padding: 10px;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
    &__container {
      @include flex;
      width: 95%;
      margin: 0 auto;
    }
    &__image-container {
      width: 50%;
      max-height: 250px;
      overflow: hidden;
    }
    &__image {
      display: block;
      outline: 1px solid white;
      width: 100%;
      height: auto;
    }
    &__title {
      margin: 0;
      padding: 15px 0;
      @include flex;
      justify-content: space-around;
    }
    &__link {
      padding: 0 30px;
    }
    &__item-list {
      width: 50%;
      overflow: hidden;
    }
  }
  .menu-contents__section_camo {
    display: none;
  }
  .section-show {
    display: block;
  }
}

@media (min-width: 460px) {
  .menu-contents {
    position: absolute;
    z-index: -1;
    @include flex;
    @include mdc-elevation(2);
    width: 100%;
    background-color: $bg-color-gray__transparent;
    justify-content: space-around;
    &__section {
      width: 80%;
    }
  }

  .category-card-list {
    display: flex;
    flex-direction: row;
    margin: 10px auto 20px auto;

    @include link-hover_underline;
    transition-duration: 0.3s;
    &__card {
      width: 25%;
      padding: 0 20px;
      &:not(:last-child) {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
    &__container {
      @include flex;
      width: 100%;
      margin: 0 auto;
    }
    &__image {
      outline: 1px solid rgba(255, 255, 255, 0.5);
      max-width: 50%;
      max-height: 200px;
    }
    &__title {
      margin: 0;
      padding: 15px 0;
      @include flex;
      justify-content: space-around;
    }
    &__link {
      padding: 0 30px;
    }
    &__item-list {
      margin: 0;
      width: 25%;
      overflow: hidden;
    }
  }

  .menu-contents__section_camo {
    display: none;
  }
  .section-show {
    display: block;
  }
}
