@media (max-width: 460px) {
  .main-nav {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: auto;
    top: 100%;
    left: 0;
    padding: 10px 0;
    background-color: $bg-color-gray__transparent;
    @include flex;
    flex-direction: column;
    @include link-hover_underline;
    @include mdc-elevation(2);
    transition-duration: 0.3s;
  }

  .user-nav {
    margin-left: auto;
    height: 50px;
    @include flex;
    align-items: center;
    &__link {
      padding: 5px;
    }
  }

  .menu-hidden {
    display: none;
    height: 0;
    transition-duration: 0.3s;
  }
}

@media (min-width: 460px) {
  .main-nav {
    margin-left: 270px;
    @include flex;
    @include link-hover_underline;
    &__item {
      position: relative;
    }
  }

  .user-nav {
    margin-left: auto;
    @include flex;
    @include link-hover_color;
    align-items: center;
    &__link {
      padding: 7px 10px 0 10px;
    }
  }
}
