@media (max-width: 460px) {
  .page-header {
    position: fixed;
    width: 100%;
    top: 0;
    @include mdc-elevation(4);
    z-index: 10;
    background-color: $bg-color-gray__transparent;
    &__logo {
      margin: 0 auto;
      & > img {
        width: 120px;
      }
    }
  }

  .header-navigation {
    margin: 0 auto;
    padding: 0 2.5%;
    width: 100%;
    @include flex;
    align-items: center;
  }

  .main-nav {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: auto;
    top: 100%;
    left: 0;
    padding: 10px 0;
    background-color: $bg-color-gray__transparent;
    @include flex;
    flex-direction: column;
    @include link-hover_underline;
    @include mdc-elevation(2);
    transition-duration: 0.3s;
  }

  .user-nav {
    margin-left: auto;
    height: 58px;
    @include flex;
    align-items: center;
    &__link {
      padding: 5px;
    }
  }

  .menu-hidden {
    display: none;
    height: 0;
    transition-duration: 0.3s;
  }
}

@media (min-width: 460px) {
  .header-navigation {
    margin: 0 auto;
    width: 90%;
    @include flex;
  }

  .main-nav {
    @include flex;
    @include link-hover_underline;
    &__item {
      position: relative;
    }
  }

  .user-nav {
    margin-left: auto;
    @include flex;
    @include link-hover_underline;
  }
}
