@include media("screen", "<mobile_large") {

}

@include media("screen", ">mobile_large", "<tablet_large") {

}

@include media(">tablet_large") {
  .product {
    &-images {
      @include flex(row, flex-start, flex-start, nowrap);
      &__main {
        width: 70%;
        & > img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
      &__list {
        order: -1;
        border-left: 5px solid $color__decoration;
        &-item {
          margin: 0 75px 15px 75px;
          width: 125px;
          height: 125px;
          background-color: $color__decoration;
          transition-duration: 0.3s;
          @include mdc-elevation(4);
          &:last-of-type {
            margin-bottom: 0;
          }
          & > img {
            display: block;
            width: 100%;
            height: auto;
          }
          &:hover {
            transform: scale(1.1);
            @include mdc-elevation(8);
          }
        }
      }
    }
    &-info {
      @include flex(row, flex-start, flex-start, nowrap);
      &__title {
        margin: 15px 0;
      }
      &__text {
        margin: 10px 15px;
      }
      &__description {
        width: 70%;
        border-right: 1px solid $color__decoration;
      }
      &__features {
        width: 30%;
        margin-left: -1px;
        padding-left: 20px;
        border-left: 1px solid $color__decoration;
        &-list {
          margin: 15px 0 0 5px;
          & > li {
            position: relative;
            &::before {
              content: "";
              display: block;
              position: absolute;
              left: -5px;
              top: 8px;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              background-color: $bg-color__secondary;
            }
          }
        }
      }
    }
    &-manufacture {
      border-top: 1px solid $color__decoration;
    }
  }
}
