@include media("screen", "<mobile_large") {

}

@include media("screen", ">mobile_large", "<tablet_large") {

}

@include media(">tablet_large", "<desktop_large") {
  .product-details {
    margin: 0 auto;
    width: 900px;
    @include flex(row, space-between, flex-start, nowrap);
    @include mdc-elevation(4);
    padding: 2.5%;
    background-color: white;
    &__images-block {
      width: 44%;
      position: relative;
    }
    &__image-main {
      width: 100%;
      height: auto;
    }
    &__images-optional {
      @include flex(row, flex-start, center, nowrap);
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      & > li {
        margin-right: 5px;
        width: 75px;
        height: 75px;
        background-color: $bg-color-light-gray__transparent;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid white;
        }
      }
    }
    &__description {
      width: 44%;
    }
    &__description {
      &-brand {
        @include font(13px, 400);
        opacity: 0.4;
        margin: 5px 0;
      }
      &-name {
        margin: 5px 0 15px 0;
      }
    }
    &__options {
      &-container {
        position: relative;
        overflow: hidden;
        height: 0;
        transition-duration: 0.3s;
        &_active {
          height: auto;
        }
      }
      &-title {
        margin: 5px 0;
        padding-bottom: 3px;
        display: flex;
        position: relative;
        cursor: pointer;
        opacity: 0.5;
        border-bottom: 1px solid rgba(88, 88, 88, 0.3);
        transition-duration: 0.3s;
        &:hover {
          opacity: 1;
        }
      }
      &-text {
        margin: 0;
        overflow: hidden;
        position: relative;
        opacity: 0;
        transition-duration: 0.3s;
        transform: translateY(-100%);
        &_active {
          margin: 5px 0;
          opacity: 1;
          transform: translateY(0);
          border-bottom: 1px solid $bg-color-light-gray__transparent;
        }
      }
      &-extend {
        margin-left: auto;
        margin-bottom: 2px;
        position: relative;
        display: block;
        width: 18px;
        height: 18px;
        opacity: 0.4;
        transition-duration: 0.3s;
        &:before {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background-color: black;
        }
        &:after {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          left: 0;
          top: 50%;
          transform: translateY(-50%) rotate(90deg);
          background-color: black;
          transition-duration: 0.3s;
        }
        &_active::after{
          transform: translateY(-50%) rotate(0);
        }
      }
    }
    &__buy-form {

    }
    &__color-selector,
    &__size-selector {
      margin: 10px 0;
      @include flex(row, flex-start, center, wrap);
      & > p {
        margin-right: 20px;
      }
    }
    &__color-option {
      margin-right: 5px;
      & > span {
        @include mdc-elevation(2);
        display: block;
        width: 50px;
        height: 50px;
        background-color: $bg-color-light-gray__transparent;
        border: 1px solid transparent;
        transition-duration: 0.3s;
      }
      &:hover > span {
        border: 1px solid black;
        transform: scale(1.1);
        @include mdc-elevation(4);
      }
      & >input:checked ~ span {
        border: 1px solid greenyellow;
      }
      &:first-of-type {
        margin-left: auto;
      }
    }
    &__size-option {
      margin-right: 5px;
      text-align: center;
      & > span {
        @include mdc-elevation(2);
        display: block;
        width: 50px;
        height: 50px;
        background-color: $bg-color-light-gray__transparent;
        border: 1px solid transparent;
        transition-duration: 0.3s;
        line-height: 50px;
        @include font(22px, 700);
        color: white;
      }
      &:hover > span {
        border: 1px solid black;
        transform: scale(1.1);
        @include mdc-elevation(4);
      }
      & >input:checked ~ span {
        border: 1px solid greenyellow;
      }
      &:first-of-type {
        margin-left: auto;
      }
    }
  }
  @include media(">desktop_medium") {
    .product-details {
      width: 1200px;
    }
  }
}
