@include media("screen", "<mobile_large") {

}

@include media("screen", ">mobile_large", "<tablet_large") {

}

@include media(">tablet_large") {
  .product {
    position: relative;
    &-configuration {
      position: absolute;

      right: 0;
      width: 35%;
      height: 80vh;
      overflow: scroll;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &-description {
      width: 66%;
    }
  }
}
