@include media("screen", "<mobile_large") {

}

@include media("screen", ">mobile_large", "<tablet_large") {

}

@include media(">tablet_large") {
  .product-configuration {
    &__title {
      margin: 0;
      border-bottom: 5px solid $bg-color__secondary;
      @include font(32px, 700);
    }
    &__text {
      margin: 5px 0;
      @include font(12px, 400);
      opacity: 0.5;
    }
    &__price {
      @include flex(row, space-between, center, nowrap);
      border-bottom: 1px solid $color__decoration;
    }
    &__info-short {
      &-item {
        border-bottom: 1px solid $color__decoration;
        transition-duration: 0.2s;
      }
      &-title {
        margin: 10px 0;
        @include font(18px, 700);
        color: $element-text__static;
        cursor: pointer;
        user-select: none;
        &:hover {
          color: $element-text__hover;
        }
      }
      &-text {
        margin: 0;
        height: 0;
        @include font(14px, 400);
        overflow: hidden;
        &_visible {
          margin: 10px 0;
          height: auto;
        }
      }
    }
  }
}
