@media (max-width: 460px) {
  .promo-gallery {
    position: relative;
    width: 100%;
    overflow: hidden;
    &__btn {
      &-left {
        position: absolute;
        top: 50%;
        left: 5%;
        z-index: 9;
      }
      &-right {
        position: absolute;
        top: 50%;
        right: 5%;
        z-index: 9;
      }
    }
    &__paginator {
      display: flex;
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      &-btn {
        @include btn_reset;
        margin: 5px;
        width: 15px;
        height: 15px;
        border: 2px solid $color__decoration;
        border-radius: 50%;
        background-color: transparent;
        opacity: 0.75;
        &:hover,
        &:focus {
          background-color: $color__decoration;
        }
      }
    }
  }
}

@media (min-width: 460px) {

}
