@include media("screen", "<mobile_large"){
  .store-list {
    @include flex(row, flex-start, center, wrap);
    width: 100%;
    margin: 0 auto;
    &__item-container {
      @include flex(column, flex-start, center, nowrap);
      @include mdc-elevation(2);
      background-color: white;
      transition-duration: 0.3s;
      overflow: hidden;
    }
    &__item {
      position: relative;
      width: 95%;
      margin: 20px auto;
    }
    &__image {
      display: block;
      width: 100%;
      height: auto;
      &-container {
        width: 100%;
      }
    }
    &__images {
      @include flex(column, flex-start, center, nowrap);
      position: absolute;
      right: 5px;
      &-item {
        margin-top: 5px;
        width: 75px;
        height: 75px;
        background-color: $bg-color-light-gray__transparent;
        transition-duration: 0.3s;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid white;
        }
      }
    }
    &__item-name {
      margin: 3px 0;
      @include font(18px, 700);
      & > a {
        color: $bg-color-gray__transparent;
        transition-duration: 0.3s;
      }
    }
    &__item-brand {
      margin: 0 0 2px 0;
      @include font(16px, 400);
      & > a {
        color: $bg-color-gray__transparent;
        transition-duration: 0.3s;
      }
    }
    &__item-price {
      margin: 0;
    }
    &__item-colors {
      @include flex(row, flex-start, center, nowrap);
      & > li {
        margin: 3px;
        width: 36px;
        height: 36px;
        background-color: $bg-color-light-gray__transparent;
        cursor: pointer;
        transition-duration: 0.3s;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid white;
        }
      }
    }
    &__button {
      @include btn_reset;
      @include action-button(white, grey, orange, yellowgreen, greenyellow, green, 40px, 40px);
      @include font(18px, 700);
      @include mdc-elevation(2);
      transition-duration: 0.3s;
      cursor: pointer;
      max-width: 250px;
      margin: 20px auto;
    }
  }
}

@include media("screen", ">mobile_large", "<tablet_large") {
  .store-list {
    @include flex(row, flex-start, center, wrap);
    width: 95%;
    margin: 0 auto;
    &__item-container {
      @include flex(column, flex-start, center, nowrap);
      @include mdc-elevation(2);
      background-color: white;
      transition-duration: 0.3s;
      overflow: hidden;
    }
    &__item {
      position: relative;
      width: 48%;
      margin: 10px 1% 10px 1%;

    }
    &__image {
      display: block;
      width: 100%;
      height: auto;
      &-container {
        width: 100%;
      }
    }
    &__images {
      @include flex(column, flex-start, center, nowrap);
      position: absolute;
      right: 5px;
      &-item {
        margin-top: 5px;
        width: 75px;
        height: 75px;
        background-color: $bg-color-light-gray__transparent;
        transition-duration: 0.3s;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid white;
        }
      }
    }
    &__item-name {
      margin: 3px 0;
      @include font(18px, 700);
      & > a {
        color: $bg-color-gray__transparent;
        transition-duration: 0.3s;
      }
    }
    &__item-brand {
      margin: 0 0 2px 0;
      @include font(16px, 400);
      & > a {
        color: $bg-color-gray__transparent;
        transition-duration: 0.3s;
      }
    }
    &__item-price {
      margin: 0;
    }
    &__item-colors {
      @include flex(row, flex-start, center, nowrap);
      & > li {
        margin: 3px;
        width: 36px;
        height: 36px;
        background-color: $bg-color-light-gray__transparent;
        cursor: pointer;
        transition-duration: 0.3s;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid white;
        }
      }
    }
    &__button {
      @include btn_reset;
      @include action-button(white, grey, orange, yellowgreen, greenyellow, green, 40px, 40px);
      @include font(18px, 700);
      @include mdc-elevation(2);
      transition-duration: 0.3s;
      cursor: pointer;
      max-width: 250px;
      margin: 20px auto;
    }
  }
}

@include media(">tablet_large", "<desktop_large"){
  .store-list {
    @include flex(row, flex-start, center, wrap);
    width: 100%;
    margin: 0 auto;
    &__item-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include flex(column, flex-start, center, nowrap);
      @include mdc-elevation(2);
      background-color: white;
      transition-duration: 0.3s;
      overflow: hidden;
      &:hover {
        top: -12px;
        bottom: -90px;
        left: -12px;
        right: -12px;
        z-index: 9;
        @include mdc-elevation(6);
        & > .store-list__button {
          transform: translateY(0);
          opacity: 1;
        }
        & > .store-list__images {
          opacity: 1;
        }
      }
    }
    &__item {
      position: relative;
      width: 30.33%;
      margin: 10px 1.5% 10px 1.5%;
      height: 460px;

    }
    &__image {
      display: block;
      width: 100%;
      height: auto;
      &-container {
        width: 100%;
      }
    }
    &__images {
      @include flex(column, flex-start, center, nowrap);
      position: absolute;
      right: 5px;
      transition-duration: 0.3s;
      opacity: 0;
      &-item {
        margin-top: 5px;
        width: 75px;
        height: 75px;
        background-color: $bg-color-light-gray__transparent;
        transition-duration: 0.3s;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid white;
        }
      }
    }
    &__item-name {
      margin: 3px 0;
      @include font(18px, 700);
      & > a {
        color: $bg-color-gray__transparent;
        transition-duration: 0.3s;
        &:hover {
          color: #00b0ff;
        }
      }
    }
    &__item-brand {
      margin: 0 0 2px 0;
      @include font(16px, 400);
      & > a {
        color: $bg-color-gray__transparent;
        transition-duration: 0.3s;
        &:hover {
          color: #00b0ff;
        }
      }
    }
    &__item-price {
      margin: 0;
    }
    &__item-colors {
      @include flex(row, flex-start, center, nowrap);
      & > li {
        margin: 3px;
        width: 36px;
        height: 36px;
        background-color: $bg-color-light-gray__transparent;
        cursor: pointer;
        transition-duration: 0.3s;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid white;
        }
      }
    }
    &__button {
      position: absolute;
      bottom: 20px;
      @include btn_reset;
      @include action-button(white, grey, orange, yellowgreen, greenyellow, green, 40px, 40px);
      @include font(18px, 700);
      @include mdc-elevation(2);
      transition-duration: 0.3s;
      cursor: pointer;
      max-width: 250px;
      margin: 0 auto;
      transform: translateY(250px);
      opacity: 0;
    }
  }
  @include media(">desktop_small") {
    .store-list {
      &__item {
        width: 22%;
        margin: 10px 1.5% 10px 1.5%;
        height: 460px;
      }
      &__images-item {
        width: 65px;
        height: 65px;
      }
      &__item-colors {
        margin-top: 5px;
      }
      &__button {
        line-height: 40px;
      }
    }
  }
  @include media(">desktop_medium") {
    .store-list {
      &__item {
        width: 19%;
        margin: 10px 0.5% 10px 0.5%;
        height: 560px;
      }
      &__images-item {
        width: 75px;
        height: 75px;
      }
      &__item-colors {
        margin-top: 10px;
      }
      &__button {
        line-height: 55px;
      }
    }
  }
}
